html, body {
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    color: white;
    font-size: 16px;
    overflow: hidden
}

#app {
    height: 100%;
    width: 100%;
    background-color: #1f0040;
    text-align: center;
    position: relative;
}

#pop {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%)
}
.bold {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: white
}

.button {
    display: inline-block;
    line-height: 2.5rem;
    min-height: 2.5rem;
    text-align: center;
    padding: 0 1.3rem;
    border-radius: .1rem;
    background-image: -o-linear-gradient(45deg, #b13cff 0, #fd9d52 51%, #b13cff 100%);
    background-image: linear-gradient(45deg, #b13cff 0, #fd9d52 51%, #b13cff 100%)
}

.sub-title, .version-text {
    margin-top: 0.3rem;
    font-size: 12px;
}
.slide-mask, .slide-wrapper, .slide-item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}
.slide-mask {
    background-color: rgba(0, 0, 0, .5);
}
.slide-item {
    background: no-repeat;
    background-position: center;
    background-size: cover;
}
.frame1 {
    background-image: url('/static/img/bg1.jpg');
    -webkit-animation: 20s infinite frame1;
            animation: 20s infinite frame1;
}

.frame2 {
    background-image: url('/static/img/bg2.jpg');
    -webkit-animation: 20s infinite frame2;
            animation: 20s infinite frame2;
}

.frame3 {
    background-image: url('/static/img/bg3.jpg');
    -webkit-animation: 20s infinite frame3;
            animation: 20s infinite frame3;
}

@-webkit-keyframes frame1{ 
    0%,100% { opacity: 1; -webkit-transform: scale(1.0); transform: scale(1.0); }
    33% { opacity: 0; -webkit-transform: scale(1.0); transform: scale(1.0); }
    66% { opacity: 0; -webkit-transform: scale(1.2); transform: scale(1.2);}
  }

@keyframes frame1{ 
    0%,100% { opacity: 1; -webkit-transform: scale(1.0); transform: scale(1.0); }
    33% { opacity: 0; -webkit-transform: scale(1.0); transform: scale(1.0); }
    66% { opacity: 0; -webkit-transform: scale(1.2); transform: scale(1.2);}
  }
  @-webkit-keyframes frame2{ 
    0%,100% { opacity: 0; -webkit-transform: scale(1.2); transform: scale(1.2); }
    33% { opacity: 1; -webkit-transform: scale(1.0); transform: scale(1.0); }
    66% { opacity: 0; -webkit-transform: scale(1.0); transform: scale(1.0) }
  }
  @keyframes frame2{ 
    0%,100% { opacity: 0; -webkit-transform: scale(1.2); transform: scale(1.2); }
    33% { opacity: 1; -webkit-transform: scale(1.0); transform: scale(1.0); }
    66% { opacity: 0; -webkit-transform: scale(1.0); transform: scale(1.0) }
  }
  @-webkit-keyframes frame3{ 
    0%,100% { opacity: 0; -webkit-transform: scale(1.0); transform: scale(1.0) }
    33% { opacity: 0; -webkit-transform: scale(1.2); transform: scale(1.2) }
    66% { opacity: 1; -webkit-transform: scale(1.0); transform: scale(1.0); }
  }
  @keyframes frame3{ 
    0%,100% { opacity: 0; -webkit-transform: scale(1.0); transform: scale(1.0) }
    33% { opacity: 0; -webkit-transform: scale(1.2); transform: scale(1.2) }
    66% { opacity: 1; -webkit-transform: scale(1.0); transform: scale(1.0); }
  }

  #player {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}